*.exe
*.dll
*.o
*.obj
*.a
*.so
*.tmp
*.log
__pycache__/
.vscode/
Archive/
Links/links_for_data/
notebook.py
notebook_projet.ipynb
test.py
teststat.txt
teststat2.txt
*.pptx
#Process/retrieving_data_process.ipynb
#Datas_project/Original_datas/
.DS_Store